<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            width: 400px;
            height: 300px;
            border: 1px solid #ccc;
            margin: 100px auto;
            box-sizing: border-box;
            padding-top: 60px;
            padding-left: 80px;
        }
    </style>
</head>
<body>
    <div>
        <form action="/add" method = "post">
            姓名:<input type="text" name="name">
            <br>
            <br>
            年龄:<input type="text" name="age">
            <br>
            <br>
            <input type="submit" value="添加">        
        </form>
    </div>
</body>
</html>